@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');




body{
    /* x    background-color: blueviolet; */
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10%;
    background-color: aquamarine;
    border-radius: 5px;

}
/* .course{
   
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100%;
} */
 .navs{
    /* background-color: rgb(11, 167, 206); */
}
/* 
.sidebar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper {
    display: flex;
    margin-top: 10%;
    background-color: aquamarine;
    margin-right: 90%;
}
.admin{
    margin-top: 10%;
} */

.table{
    margin-top: 10%;
}
