@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10%;
    border-radius: 5px;
}